List of data
  <ul>
  <% for(var i=0; i<data.length; i++) {%>
    <li>
      <span><%= " Field1: " +data[i].field1+"."%></span>
      <span><%= " Field2: " +data[i].field2+"."%></span>
      <span><%= " Field3: " +data[i].field3+"."%></span>
      <span><%= " Field4: " +data[i].field4+"."%></span>
    </li>
  <%} 
  %>
</ul>